/* .matchbox {
    border: solid 2px;
    padding: 2%;
    white-space: nowrap;
}

.matchName {
    font-size: 20px;
    margin-bottom:0;
}

.matchMajor {
    margin-top: 0;
    color: grey;
}

.hr {
    color: grey;
    align-items: center;
}

.essentials .p {
    color: grey;
}

b {
    color: black;
}

.details .table {
    width: 100%;
    text-align: left;
    table-layout: fixed;
}

.details .td {
    vertical-align: top;
    word-wrap: break-word;
    white-space: normal;
}

.Pictures .td {
    padding: 0px;
}
.Pictures .img {
    width: 100%;
    text-align: center;
}

.Pictures .image-header {
    text-align: center;
}
 */
